.login {
  background-image: url('../assets/clouds-flex.jpg');
  background-size: cover;
  height: 100dvh;
}

.horizontal-divider {
  background-color: #e0e0e0;
  width: 100%;
  height: 0.1rem;
}

.horizontal-divider-details {
  background-color: #bdbdbd;
  width: 100%;
  height: 0.1rem;
}

.chapter-label {
  white-space: nowrap;
  padding-right: 0.5rem;
  font-size: 1.3rem;
}

.inf-icon:hover {
  color: #0277bd;
}

.inf-icon {
  color: #42a5f5;
}

.mdi-file-document-multiple-outline {
  color: #0a0f12;
}

.file-label {
  padding: 0.7rem 2.8rem;
  cursor: pointer;
}

.required:before {
  content: "*";
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  color: #e0e0e0;
}

.details-title {
  color: #8c8c8c;
}

.details-container {
  width: 57rem;
  margin-top: 2rem;
}

.table-header {
  white-space: nowrap;
  color: #ffffff;
}

.table-header.toolbar {
  height: 2rem;
  justify-content: center;
  background-color: #1e62c4;
}

.table-header.field {
  width: 20rem;
  margin-left: 1rem;
  text-align: left;
  background-color: #1e63c400;
}

.table-header.company-name {
  width: 10rem;
  text-align: center;
  background-color: #1e63c400;
}

.table-header.tender-status {
  width: 9rem;
  text-align: center;
  background-color: #1e63c400;
}

.table-header.deadline {
  width: 11rem;
  text-align: center;
  background-color: #1e63c400;
}

.table-header.offer-data {
  width: 9rem;
  text-align: center;
  background-color: #1e63c400;
}

.table-row {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #daefa7;
  border-radius: 0.4rem;
  margin-top: 0.3rem;
  width: 60rem;
  height: 4.5rem;
  background-color: #f1f8fe;
}

.table-row.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ddd;
  border-color: #bbb;
}

.table-row.disabled * {
  pointer-events: none;
}

.cpv-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cpv-code {
  text-decoration: none;
  color: #1f9dec;
}

.cpv-code:hover {
  text-decoration: underline;
  color: #11ad0c;
}

html {
  background-color: #e0e0e0;
  overflow-y: auto;
}
